{% extends "base.html" %}

{% block content %}
<h2>Sobre mí</h2>

<p>Mi nombre es Jaume Morte Dominguez. Soy estudiante de ASIX, esta aplicación para la asignatura Aplicaciones Web forma parte de mi proyecto final.</p>

<h3>Proyectos realizados en clase:</h3>

<ul>
    <li>Aplicación CRUD con Flask</li>
    <li>Web con sistema de autenticación (login y registro)</li>
    <li>Proyecto con base de datos MySQL</li>
    <li>Aplicaciones con herencia de plantillas HTML</li>
</ul>

<h3>Sobre este proyecto</h3>

<p>Esta aplicación está desarrollada con Python (Flask) y MySQL(XAMPP).
Incluye parte pública y privada, sistema de usuarios y gestión 
de entrenamientos de Muay Thai.</p>

{% endblock %}